.Sidebar
  .Side-header
    .Side-box
      %p.User-name yamashita
      = current_user.name
      %ul.Side-menu_user
        %li.Side-menu_user_icon
          = link_to "#" do
            = icon('far', 'edit')
        %li.Side-menu_user_icon
          = link_to edit_user_path(current_user) do
            =icon('fas','cog')
  .Grouplist
    .Group
      .Group_name
        aaa
      .Group_message
        まだメッセージはありません。